.Main{
display:flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
height: 100vh;
padding-top: 5rem;
background-image: url("https://img.freepik.com/premium-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-71715.jpg");
background-repeat: no-repeat;
background-size: 100vw 120vh ;
}
h1{
    margin-top:5rem; 
}
h2{
margin-top:4rem;

}
h4{
margin-top:1rem;
}
h3{
margin-top:1rem;  
}