*{
    margin: 0;
    padding: 0;
}
.Home{
    height: 100vh;
    padding-top: 5rem;
    background-image: url("https://img.freepik.com/premium-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-71715.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 120vh ;
}
.Home-main{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
 align-items: center;

}

.shorturl{
    background-color: rgb(189, 141, 233);
    padding:2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;  
}